/*COLORS*/
/*GRAPHIC CHARTER AND VARIANTS COLORS*/
/*ICON AND WHITE COLORS*/
/*BACKGROUND COLORS*/
/*GRADIENT COLORS*/
/*FONT FAMILIES*/
/*FONT SIZE AND WEIGHT*/
/*BUTTON & HOVER SHADOWS*/
/*HEADING SHADOWS*/
/*BOX SHADOWS*/
/*GENERAL APPLIED PADDING ACROSS SITE*/
/*MEDIA QUERIES MIXINS*/
/*FONTS PROPERTY MIXINS*/
/***HOME PAGE MIXINS***/
/***SECTION STEPS MIXINS***/
/***BUTTON "Explorer nos restaurants" + "Commander" MIXINS***/
/*** MIXINS***/
/***MENU MIXINS***/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* BOX-SIZING PROPERTY */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "roboto", sans-serif, sans-serif;
  scroll-behavior: smooth;
  background-color: #ffff;
}

/* HEADER */
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
  text-align: center;
}
.header__logo {
  font-family: "Shrikhand", sans-serif, "cursive";
  margin: 0;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: #353535;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 767px) and (max-width: 960px) {
  .footer ul {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }
  .footer ul li {
    margin-right: 40px;
    border-right: 1px solid #f6f6f6;
    padding-right: 40px;
    padding-top: 0;
    margin-bottom: 80px;
  }
}
.footer .flex-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .footer .flex-container {
    align-items: center;
  }
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", sans-serif, "cursive";
  padding: 1rem 0;
  font-size: 1.5rem;
}
.footer__item {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}
.footer__link {
  color: #ffff;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.6rem;
}

.flex-container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

h2, h3, h4, p, span, a, li, button, ::placeholder {
  font-family: "roboto", sans-serif, sans-serif;
  color: black;
}

section {
  display: block;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: loader 7s forwards;
  pointer-events: none;
}
.loader__container {
  width: 2em;
  height: 2em;
  font-size: 25px;
  box-sizing: border-box;
  border-top: 0.3em solid #FF79DA;
  border-radius: 50%;
  position: relative;
  animation: rotating 8s ease-in-out infinite;
  --direction: 6;
}
.loader__container::before {
  border-top: 0.3em solid #9356DC;
  transform: rotate(120deg);
}
.loader__container::after {
  border-top: 0.3em solid #99E2D0;
  transform: rotate(240deg);
}
.loader__container::before .loader__container::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}
.loader__item {
  font-size: 25px;
}
.loader span {
  font-family: "Shrikhand";
  position: absolute;
  color: black;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
  --direction: -1;
}
@keyframes rotating {
  50% {
    transform: rotate(calc(180deg * var(--direction)));
  }
  100% {
    transform: rotate(calc(360deg * var(--direction)));
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.submenu ul li {
  -webkit-animation: list-effect 1000ms normal backwards ease-in-out;
  animation: list-effect 1000ms normal backwards ease-in-out;
}

.submenu ul li:nth-child(1n) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.submenu ul li:nth-child(2n) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.submenu ul li:nth-child(3n) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.submenu ul li:nth-child(4n) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes list-effect {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes list-effect {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(0px);
  }
}
/* HOMEPAGE "Ohmyfood" SMOOTH HEADER EFFECT */
.header {
  animation: smooth-effect 2s backwards;
  animation-delay: 2.2s;
}

/* MENU PAGE "Ohmyfood" & IMAGE HERO SMOOTH HEADER EFFECT */
.head {
  animation: smooth-effect 750ms backwards;
  animation-delay: 250ms;
}

.hero img {
  animation: smooth-effect 750ms backwards;
  animation-delay: 250ms;
}

.submenu li:nth-child(1n) {
  animation-delay: 0.5s;
}

/* HOMEPAGE & MENUS BODY SMOOTH EFFECT */
.main-section {
  animation: smooth-effect 1300ms backwards;
  animation-delay: 2500ms;
}

.main-section-menu {
  animation: smooth-effect 1015ms backwards;
  animation-delay: 250ms;
}

@keyframes smooth-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*BUILT-IN SASS MODULE, GENERATE COLORS BASED ON EXISTING ONES*/
button {
  align-self: center;
  width: fit-content;
  margin: 15px 0 38px 0;
  cursor: pointer;
  background-color: #686868;
  position: relative;
  z-index: 1;
  border: 0;
  padding: 1rem 3rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  transition-duration: 0.25s;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
}
button:hover {
  background-color: #ffff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
}

.maps {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #eaeaea;
}
@media screen and (min-width: 767px) and (max-width: 960px) {
  .maps {
    box-shadow: unset;
  }
}
@media screen and (min-width: 961px) and (max-width: 1023px) {
  .maps {
    background-color: #f3f3f3;
    padding: 1.25rem 1rem;
  }
}
.maps input {
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: #eaeaea;
  padding: 0 7px;
  width: 150px;
}
@media screen and (min-width: 961px) and (max-width: 1023px) {
  .maps input {
    background-color: #f3f3f3;
  }
}
.maps input:focus {
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
  background-color: #f3f3f3;
}
.maps input:focus::placeholder {
  opacity: 0;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
.maps input:focus::placeholder:hover {
  opacity: 25%;
  transition-duration: 0.35s;
}
.maps i {
  margin-right: 1rem;
  vertical-align: 0.2rem;
  font-size: 1rem;
  color: #353535;
}
@media screen and (min-width: 961px) and (max-width: 1023px) {
  .maps i {
    color: #9356DC;
    font-size: 1.2rem;
    vertical-align: 1rem;
  }
}

input::placeholder {
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
  transition: opacity 0.37s ease-in-out;
}

/*SECTION SLOGAN*/
.slogan {
  padding: 2rem;
  text-align: center;
  background-color: #f6f6f6;
}
@media screen and (min-width: 961px) and (max-width: 1023px) {
  .slogan {
    background-color: #ffff;
  }
}
.slogan__title {
  margin: 0;
}
.slogan__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

/*SECTION STEPS*/
.steps {
  margin-bottom: 25px;
  padding: 2rem 1rem;
}
.steps__title {
  margin-top: 30px;
}
.steps__item {
  margin: 0;
  padding: 0;
  counter-reset: compteListe;
}
@media screen and (min-width: 1024px) {
  .steps__item {
    display: flex;
  }
}
.steps__lists {
  position: relative;
  background-color: #f6f6f6;
  margin: 1.5rem 0 1rem 0.75rem;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  counter-increment: number;
  list-style-type: none;
  transition-duration: 400ms;
}
@media screen and (min-width: 1024px) {
  .steps__lists {
    flex: 1;
    margin: 0 0 0 2rem;
  }
  .steps__lists:first-child {
    margin-left: 0.75rem;
  }
}
.steps__lists:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 0px 7px 15px 0px #0000003b;
}
.steps__lists:hover i {
  color: #9356DC;
}
.steps__lists::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) "";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: -12px;
  bottom: 21px;
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: #ffff;
}
.steps__icon {
  color: grey;
  padding: 0 30px 0 10px;
  font-size: 20px;
}
.steps__subtitle {
  font-weight: bold;
  font-size: 1rem;
}

/*SECTION RESTAURANTS*/
.menus {
  padding: 2rem 1rem 5.5rem 1rem;
  background: #f6f6f6;
}
.menus__title {
  padding: 1rem 0;
}

.menu__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media screen and (min-width: 1024px) {
  .menu__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  position: relative;
  background-color: #ffff;
  text-decoration: none;
  color: inherit;
  display: block;
  margin-top: 1rem;
  box-shadow: 0 4px 9px -7px rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}
.card:hover {
  box-shadow: 0px 7px 15px 0px #0000003b;
  transition-duration: 500ms;
}
.card__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  box-shadow: none;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card__title {
  margin: 0;
}
.card__footer {
  padding: 0.5rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.card__content {
  padding: 1rem;
  position: relative;
  align-items: center;
  background-color: #ffff;
  flex: 1;
}
.card__btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.firstheart {
  z-index: 1;
  font-size: 1.85rem;
  transform: scaleY(1.02);
  position: relative;
  font-weight: 100 !important;
  transition: 400ms;
  cursor: pointer;
  color: #353535;
}
.firstheart:hover {
  color: #f6f6f6;
}
.firstheart:hover .secondheart {
  opacity: 1;
  z-index: 2;
}

.secondheart {
  font-size: 1.85rem;
  transform: scaleY(1.02);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  font-weight: 900 !important;
  background: #9356dc;
  background: -webkit-linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  transition: 600ms;
  opacity: 0;
}

/*"Nouveau" LABEL TAG ON TWO FIRST HOMEPAGE CARDS*/
.label::after {
  content: "Nouveau";
  display: block;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  border-radius: 0.125rem;
  color: #278870;
  background-color: #99E2D0;
  padding: 0.5rem;
  font-family: "roboto", sans-serif;
  font-size: 0.85em;
  box-shadow: 0 4px 9px -7px rgba(0, 0, 0, 0.7);
}

#menu {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
@media screen and (min-width: 767px) and (max-width: 960px) {
  #menu {
    margin: 0;
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  #menu {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.head {
  display: block;
  margin-top: 1rem;
}
@media screen and (min-width: 961px) and (max-width: 1023px) {
  .head {
    margin-top: 1rem;
  }
}
.head__arrow::before {
  position: absolute;
  left: 23px;
  top: 30px;
  font-size: 1.2rem;
  text-align: left;
}
@media screen and (min-width: 961px) and (max-width: 1023px) {
  .head__arrow::before {
    top: 30px;
  }
}

.hero {
  align-items: center;
  overflow: hidden;
  position: relative;
}
.hero img {
  max-width: 100%;
  height: 275px;
  width: 100%;
  object-fit: cover;
  filter: brightness(95%);
}
@media screen and (min-width: 1024px) {
  .hero img {
    height: 500px;
  }
}

.menu-cards .card {
  border-radius: 15px;
  color: inherit;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 7px 15px 0px #0000003b;
  transition-duration: 400ms;
}
.menu-cards .card:hover {
  box-shadow: 0px 7px 15px 0px #0000003b;
  transition-duration: 400ms;
}

.menu {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
  margin-top: -35px;
  position: relative;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .menu {
    margin-top: -75px;
  }
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
}
.menu__heart {
  position: absolute;
  top: 45px;
  right: 33px;
  color: #353535;
}
.menu__heart__first {
  z-index: 1;
  font-size: 1.85rem;
  transform: scaleY(1.02);
  position: relative;
  font-weight: 100 !important;
  transition: 400ms;
  cursor: pointer;
  color: #353535;
}
.menu__heart__second {
  font-size: 1.85rem;
  transform: scaleY(1.02);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  font-weight: 900 !important;
  background: #9356dc;
  background: -webkit-linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  transition: 600ms;
  opacity: 0;
}

.submenus {
  display: grid;
}
@media screen and (min-width: 1024px) {
  .submenus {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.submenu li div:first-child {
  overflow: hidden;
  white-space: nowrap;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.submenu__title {
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 1.17rem;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.submenu li {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 100%;
  background-color: #ffff;
  border-radius: 16px;
  margin: 1rem 0;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 9px -7px rgba(0, 0, 0, 0.7);
  transition-duration: 400ms;
}
.submenu li:hover {
  box-shadow: 0px 7px 15px 0px #0000003b;
}
.submenu li:hover .price__check {
  margin-right: 0;
}
.submenu li:hover i:before {
  transform: rotate(0);
  transition-duration: 500ms;
}
.submenu h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 14px 0px 0px 11px;
  font-size: 1.15rem;
}
.submenu div:first-child {
  overflow: hidden;
  white-space: nowrap;
}
.submenu p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  padding: 3px 0px 11px 11px;
}

.price__check {
  display: flex;
  flex-flow: row;
  padding: 0;
  transition: 500ms;
  margin-right: -61px;
}
.price__check i {
  align-self: center;
  background-color: #99E2D0;
  padding: 11px 4px;
}
.price__check i::before {
  font-size: 1.05rem;
  color: #ffff;
  display: inline-block;
  margin: 15px;
  border-radius: 100px;
  transform: rotate(-1turn);
  transition-duration: 0ms;
}
.price__check p {
  align-self: flex-end;
  font-weight: 700;
  line-height: 1rem;
  margin-left: 5px;
  margin-right: 25px;
}

.menu__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

/*# sourceMappingURL=style.css.map */
