/*COLORS*/
/*GRAPHIC CHARTER AND VARIANTS COLORS*/
/*ICON AND WHITE COLORS*/
/*BACKGROUND COLORS*/
/*GRADIENT COLORS*/
/*FONT FAMILIES*/
/*FONT SIZE AND WEIGHT*/
/*BUTTON & HOVER SHADOWS*/
/*HEADING SHADOWS*/
/*BOX SHADOWS*/
/*GENERAL APPLIED PADDING ACROSS SITE*/
/*MEDIA QUERIES MIXINS*/
/*FONTS PROPERTY MIXINS*/
/***HOME PAGE MIXINS***/
/***SECTION STEPS MIXINS***/
/***BUTTON "Explorer nos restaurants" + "Commander" MIXINS***/
/*** MIXINS***/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* BOX-SIZING PROPERTY */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "roboto", sans-serif, sans-serif;
  scroll-behavior: smooth;
  background-color: #ffff;
}

/* HEADER */
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
  text-align: center;
}
.header__logo {
  font-family: "Shrikhand", sans-serif, "cursive";
  margin: 0;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: #353535;
  margin-top: 0;
  margin-bottom: 0;
}
.footer .flex-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 961px) {
  .footer .flex-container {
    align-items: center;
  }
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", sans-serif, "cursive";
  padding: 1rem 0;
  font-size: 1.5rem;
}
.footer__item {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}
.footer__link {
  color: #ffff;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.6rem;
}

.flex-container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

h2, h3, h4, p, span, a, li, button, ::placeholder {
  font-family: "roboto", sans-serif, sans-serif;
  color: black;
}

section {
  display: block;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

/*BUILT-IN SASS MODULE, GENERATE COLORS BASED ON EXISTING ONES*/
button {
  align-self: center;
  width: fit-content;
  margin: 15px 0 38px 0;
  cursor: pointer;
  background-color: #686868;
  position: relative;
  z-index: 1;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  transition-duration: 0.25s;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
}
button:hover {
  background-color: #ffff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.maps {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #eaeaea;
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .maps {
    box-shadow: unset;
  }
}
@media screen and (min-width: 961px) {
  .maps {
    background-color: #f3f3f3;
    padding: 1.25rem 1rem;
  }
}
.maps input {
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: #eaeaea;
  padding: 0 7px;
  width: 150px;
}
@media screen and (min-width: 961px) {
  .maps input {
    background-color: #f3f3f3;
  }
}
.maps input:focus {
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
  background-color: #f3f3f3;
}
.maps input:focus::placeholder {
  opacity: 0;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
.maps input:focus::placeholder:hover {
  opacity: 25%;
  transition-duration: 0.35s;
}
.maps i {
  margin-right: 1rem;
  vertical-align: 0.2rem;
  font-size: 1rem;
  color: #353535;
}
@media screen and (min-width: 961px) {
  .maps i {
    color: #9356DC;
    font-size: 1.2rem;
    vertical-align: 1rem;
  }
}

input::placeholder {
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
  transition: opacity 0.37s ease-in-out;
}

/*SECTION SLOGAN*/
.slogan {
  padding: 2rem;
  text-align: center;
  background-color: #f6f6f6;
}
@media screen and (min-width: 961px) {
  .slogan {
    background-color: #ffff;
  }
}
.slogan__title {
  margin: 0;
}
.slogan__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

/*SECTION STEPS*/
.steps {
  margin-bottom: 25px;
  padding: 2rem 1rem;
}
.steps__title {
  margin-top: 30px;
}
.steps__item {
  margin: 0;
  padding: 0;
  counter-reset: compteListe;
}
.steps__lists {
  position: relative;
  background-color: #f6f6f6;
  margin: 1.5rem 0 1rem 0.75rem;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  counter-increment: number;
  list-style-type: none;
  transition-duration: 400ms;
}
.steps__lists:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 0px 7px 15px 0px #0000003b;
}
.steps__lists:hover i {
  color: #9356DC;
}
.steps__lists::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) "";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: -12px;
  bottom: 21px;
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: #ffff;
}
.steps__icon {
  color: grey;
  padding: 0 30px 0 10px;
  font-size: 20px;
}
.steps__subtitle {
  font-weight: bold;
  font-size: 1rem;
}

/*SECTION RESTAURANTS*/
.menus {
  background-color: #f6f6f6;
  padding: 2rem 1rem 5.5rem 1rem;
  background: #f6f6f6;
}
.menus__title {
  padding: 1rem 0;
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  margin-top: 1rem;
}
.card__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  box-shadow: none;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card .label::after {
  display: block;
  content: "Nouveau";
  color: #278870;
  position: absolute;
  top: 14px;
  right: 12px;
  border-radius: 0.125rem;
  background-color: #99E2D0;
  padding: 7px 12px;
  font-family: "roboto", sans-serif;
  font-size: 0.85em;
  box-shadow: 0 4px 9px -7px rgba(0, 0, 0, 0.7);
}
.card__title {
  margin: 0;
}
.card__footer {
  padding: 0.5rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.card__content {
  padding: 1rem;
  position: relative;
  align-items: center;
  background-color: #ffff;
  flex: 1;
}
.card__btn {
  height: 2rem;
  position: relative;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  display: flex;
  right: 30px;
  bottom: 0px;
}
.card__heart {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  transition-duration: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#menu {
  background-color: #f6f6f6;
}

.head {
  display: block;
  animation: smooth-appearing 750ms backwards;
  animation-delay: 250ms;
  margin-top: 1rem;
}
@media screen and (min-width: 961px) {
  .head {
    margin-top: 1rem;
  }
}
.head__arrow::before {
  position: absolute;
  left: 23px;
  top: 30px;
  font-size: 1.2rem;
  text-align: left;
}
@media screen and (min-width: 961px) {
  .head__arrow::before {
    top: 30px;
  }
}

.hero {
  align-items: center;
  overflow: hidden;
  position: relative;
}
.hero img {
  max-width: 100%;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  filter: brightness(95%);
}

.menu {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
  margin-top: -35px;
  position: relative;
  background-color: #f6f6f6;
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
}
.menu .heart {
  position: absolute;
  top: 45px;
  right: 33px;
  color: #353535;
}
.menu .heart__first {
  font-size: 1.85rem;
  transform: scaleY(1.02);
  position: relative;
  z-index: 1;
  font-weight: 100 !important;
  transition: 400ms;
  cursor: pointer;
  color: #353535;
}
.menu .heart__first:hover {
  color: #f6f6f6;
}
.menu .heart__first:hover.heart__second {
  opacity: 1;
  z-index: 2;
}
.menu .heart__second {
  font-size: 1.35rem;
  transform: scaleY(1.02);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  font-weight: 900 !important;
  background: #9356dc;
  background: -webkit-linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  opacity: 0;
  transition: 600ms;
}

.submenus {
  display: grid;
}

.submenu li div:first-child {
  overflow: hidden;
  white-space: nowrap;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.submenu__title {
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 1.17rem;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.submenu li {
  width: 348px;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  transition-duration: 400ms;
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem;
  border-radius: 16px;
  margin: 1rem 0;
  box-shadow: 0 4px 9px -7px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  cursor: pointer;
}
.submenu li h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  font-size: 1.15rem;
}
.submenu li p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}
.submenu li .price__check p {
  align-self: flex-end;
  font-weight: 900;
  line-height: 1rem;
  margin-left: 5px;
  margin-right: 25px;
}
.submenu li .price__check {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin-right: -61px;
  transition: 500ms;
}

.submenu li:nth-child(1n) {
  animation-delay: 0.2s;
}

ul {
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}

/*# sourceMappingURL=style.css.map */
