
.button {
    @include button;
    background-image: linear-gradient($color-primary, $color-secondary);
    transition: all 0.3s ease 0s;
  
    &:hover, 
    &:focus {
      background-color: $color-white;
      filter: brightness(1.2);
      transition: filter 300ms linear;
      box-shadow: 12px 12px 24px $color-tertiary;
      transform: translateY(-6px);
      
    }
  
  }

 

