@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/* BOX-SIZING PROPERTY */

 body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $content-font, sans-serif;
    scroll-behavior: smooth;
    background-color: $color-white;
  }

  /* HEADER */
  .header {
    padding: $all-padding;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
    text-align: center;
  
    &__logo{
      @include header-logo;
    }
  }

  /* FOOTER */
  .footer {
    background-color: $color-bd-footer;
    margin-top: 0;
    margin-bottom: 0;
    & ul {
      @include screenMedium {
        align-items: center;
      }
      @include screenXLarge {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        & li {
          margin-right: 40px;
          border-right: 1px solid $color-bd-light;
          padding-right: 40px;
          padding-top: 0;
          margin-bottom: 80px;
        }
      }
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      padding: $all-padding;
      @include screenXLarge {
        align-items: center;
    } 
    }

    &__logo {
    color: white;
    font-family: $title-font, "cursive";
    padding: $all-padding 0;
    font-size: 1.5rem;
    }

    &__item {
      list-style:none;
      padding: 0;
      margin: 0.5rem 0; 
    }

    &__link {
      color: $color-white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__icon {
      width: 1.2rem;
      margin-right: 0.6rem;
    }
  }

  .flex-container {
    max-width: 1280px;
    margin: auto;
    position: relative;
  }
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

h2, h3, h4, p, span, a, li, button, ::placeholder{
    font-family: $content-font, sans-serif;
    color: black;
}

section {
    display: block;
}


ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
}