/*SECTION SLOGAN*/

.slogan {
    padding: 2rem;
    text-align: center;
    background-color: $color-bd-light;
    @include screenLarge {
    background-color: $color-white;
    }

    &__title {
      margin: 0;
    }
  
    &__subtitle {
      font-weight: 300;
      margin: 1.5rem 0;
    }

  }

  /*SECTION STEPS*/
  .steps {
      margin-bottom: 25px;
      padding: ($all-padding +1rem) $all-padding;
      
      &__title {
          margin-top: 30px;
      }

      &__item {        
         margin: 0;
         padding: 0;
         counter-reset: compteListe;
         @include screenXLarge {
             display: flex;
         }
      }

      &__lists {
        @include screenXLarge {
            flex: 1;
            margin: 0 0 0 2rem;
            &:first-child {
                margin-left: .75rem;
            }
        }  
        @include steps-lists;
        &:hover {
        @include steps-hover;
            i {
            color: $color-primary;
        }
        }

        &::before {
            @include steps-lists-before;
        }
        }

        &__icon {
            color: grey;
            padding: 0 30px 0 10px;
            font-size: 20px;
        }

        &__subtitle {
            font-weight: bold;
            font-size: 1rem;
        }

    }

/*SECTION RESTAURANTS*/

.menus {
    padding: 2rem 1rem 5.5rem 1rem;
    background: $color-bd-light;

    &__title {
    padding: $all-padding 0;  
    }
}

.menu__cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    @include screenXLarge {
        grid-template-columns: repeat(2,1fr);
    }
}

.card {
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    margin-top: 1rem;
    box-shadow: $shadow-heading;
    border-radius: 15px;

    &__img {
        @include card-img;
        .label::after {
            @include label-new;
        }
    }


    &__title {
        margin: 0;
    }

    &__footer {
        padding: .5rem $all-padding;
        position: relative;
        display: flex;
        align-items: center;
        background-color: $color-white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    &__content {
        padding: $all-padding;
        position: relative;
        align-items: center;
        background-color: $color-white;
        flex: 1;
    }

    &__btn {
        @include card-btn;
    }

    &__heart {
        @include card-heart;
    }
}


