#menu {
    background-color: $color-bd-light;
    padding-bottom: 50px;
    @include screenMedium {
        margin:0;
        align-self: center;
    }
    @include screenXLarge {
        margin-left: 10rem;
        margin-right: 10rem; 
    }
}
 .head {
    display: block;
    margin-top: $all-padding;
    @include screenLarge {
        margin-top: $all-padding;
    }

    &__arrow::before {
        position: absolute;
        left: 23px;
        top: 30px;
        font-size: 1.2rem;
        text-align: left;
        @include screenLarge {
            top: 30px;
        
        }
    }
}

.hero {
    @include hero;
    }


.menu {
    @include menu;

    &__title {
        font-family: $title-font;
        font-weight: 500;
        font-size: 1.8rem;
        position: relative;
    }

    .heart {
        position: absolute;
        top: 45px;
        right: 33px;
        color: $color-bd-footer;
        &__first {
            @include heart-first;
            &:hover{
            color: $color-bd-light;
            &.heart__second{
            opacity: 1;
            z-index: 2; 
            }}
        }
    
        &__second {
            @include heart-second;
        }
    }
} 

.submenus {
    display: grid;
    @include screenXLarge {
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
      }
}

.submenu li div:first-child {
    overflow: hidden;
    white-space: nowrap;
}

.submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 $all-padding;
    &__title {
        @include submenu-title;
        &::after {
            content:"";
            width: 3rem;
            height: 0.25rem;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.submenu li {
    width: 348px;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    transition-duration: 400ms;
    max-width: 100%;
    background-color: $color-white;
    padding: $all-padding;
    border-radius: 16px;
    margin: $all-padding 0;
    box-shadow:0 4px 9px -7px rgb(0, 0, 0, 0.70);
    overflow: hidden;
    cursor: pointer;
    & h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
        font-size: 1.15rem;
    }
    & p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1rem;
    }
    & .price__check {
        display: flex;
        flex-flow: row;
        padding-right: 1rem;
        margin-right: -100px;
        transition: 500ms;
        & i {
            align-self: center;
            background-color: $color-tertiary;
            padding: 11px 4px;
            &:before {
                font-size: 1.05rem;
                color:$color-white;
                display: inline-block;
                margin: 0 15px;
                border-radius: 100px;
            }
            &:hover {
                transform: rotate(-1turn);
                transition-duration: 0.5ms;
            }
        }
        & p {
            align-self: flex-end;
            font-weight: 700;
            line-height: 1rem;
            margin-left: 5px;
            margin-right: 25px;
    }
    }

}

.menu__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}








    

