#menu {
    background-color: $color-bd-light;
    padding-bottom: 50px;
    @include screenMedium {
        margin:0;
        align-self: center;
    }
    @include screenXLarge {
        margin-left: 10rem;
        margin-right: 10rem; 
    }
}
 .head {
    display: block;
    margin-top: $all-padding;
    @include screenLarge {
        margin-top: $all-padding;
    }

    &__arrow::before {
        position: absolute;
        left: 23px;
        top: 30px;
        font-size: 1.2rem;
        text-align: left;
        @include screenLarge {
            top: 30px;
        
        }
    }
}

.hero {
    @include hero;
    }

.menu-cards .card {
    border-radius: 15px;
    color: inherit;
    overflow: hidden;
    position: relative;
    box-shadow: $shadow-button-hover;
    transition-duration: 400ms;
        &:hover {
            box-shadow: $shadow-button-hover;
            transition-duration: 400ms;
        }
    }

.menu {
    @include menu;
    @include screenXLarge {
        margin-top: -75px;
    }

    &__title {
        font-family: $title-font;
        font-weight: 500;
        font-size: 1.8rem;
        position: relative;
    }

    &__heart {
        position: absolute;
        top: 45px;
        right: 33px;
        color: $color-bd-footer;
        &__first {
            @include first-heart;
        }
    
        &__second {
            @include second-heart;
        }
    }
} 

.submenus {
    display: grid;
    @include screenXLarge {
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
      }
}

.submenu li div:first-child {
    overflow: hidden;
    white-space: nowrap;
}

.submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 $all-padding;
    &__title {
        @include submenu-title;
        &::after {
            content:"";
            width: 3rem;
            height: 0.25rem;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }    

    & li {
        @include submenu-li;
    }

        & h4 {
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 14px 0px 0px 11px;
            font-size: 1.15rem;
        }
        & div:first-child {
            overflow: hidden;
            white-space: nowrap;
        }
        & p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1rem;
            padding: 3px 0px 11px 11px;
        }
    
}

.price__check {
        display: flex;
        flex-flow: row;
        padding: 0;
        transition: 500ms;
        margin-right: -61px;
        & i {
            align-self: center;
            background-color: $color-tertiary;
            padding: 11px 4px;
            &::before {
                font-size: 1.05rem;
                color: $color-white;
                display: inline-block;
                margin: 15px;
                border-radius: 100px;
                transform: rotate(-1turn);
                transition-duration: 0ms;
            }
        }
        & p {
            align-self: flex-end;
            font-weight: 700;
            line-height: 1rem;
            margin-left: 5px;
            margin-right: 25px;
    }
}

.menu__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
}








    

