
 .head {
    display: block;
    animation: smooth-appearing 750ms backwards;
    animation-delay: 250ms;
    margin-top: $all-padding;
    @include screenLarge {
        margin-top: $all-padding;
    }

    &__arrow::before {
        position: absolute;
        left: 23px;
        top: 30px;
        font-size: 1.2rem;
        text-align: left;
        @include screenLarge {
            top: 30px;
        
        }
    }
}

.hero {
    max-width: 100%;
    max-height: 400px;
    align-items: center;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    img {
    width: 100%;
    filter: brightness(95%);
    }
}

.menu {
    padding: $all-padding 2rem 0 $all-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    margin-top: -35px;
    position: relative;
    background-color: $color-bd-light;

    &__title {
        font-family: $title-font;
        font-weight: 500;
        font-size: 1.8rem;
        position: relative;
    }

    .heart {
        position: absolute;
        top: 45px;
        right: 33px;
        color: $color-bd-footer;
        &__first {
            font-size: 1.85rem;
            transform: scaleY(1.02);
            position: relative;
            z-index: 1;
            font-weight: 100!important;
            transition: 400ms;
            cursor: pointer;
            color: $color-bd-footer;
            &:hover{
            color: $color-bd-light;
            &.heart__second{
            opacity: 1;
            z-index: 2; 
            }}
        }
    

        &__second {
            font-size: 1.35rem;
            transform: scaleY(1.02);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            font-weight: 900!important;
            background: rgb(147,86,220);
            background: -webkit-linear-gradient(350deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1); 
            -webkit-background-clip: text; 
            background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: -1;
            opacity: 0;
            transition: 600ms;
        }
    }
} 

.submenus {
    display: grid;
}

.submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 $all-padding;
    &__title {
        text-transform: uppercase;
        font-size: 1.17rem;
        position: relative;
        padding-bottom: 0.5rem;
        font-weight: 400;
        &::after {
            content:"";
            width: 3rem;
            height: 0.25rem;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.menu__cards {

}




    

