/* HOMEPAGE "Ohmyfood" SMOOTH HEADER EFFECT */

.header {
    animation: smooth-effect 2s backwards;
    animation-delay: 250ms;
}

.footer {
  animation: smooth-effect 2s backwards;
  animation-delay: 2500ms;
}

/* MENU PAGE "Ohmyfood" & IMAGE HERO SMOOTH HEADER EFFECT */
.hero img {
    animation: smooth-effect 750ms backwards;
    animation-delay: 250ms;
}

.menu__title {
    animation: smooth-effect 750ms backwards;
    animation-delay: 250ms;
}

.submenu li:nth-child(1n) {
    animation-delay: 3s;
}

.submenu__title {
  animation: subtitles 800ms both ease-out;
  animation-delay: 1s;
}

/* HOMEPAGE & MENUS BODY SMOOTH EFFECT */

.main-section {
    animation: smooth-effect 1300ms backwards;
    animation-delay: 2500ms;
}

  @keyframes smooth-effect {
    from {
      opacity: 0;
      transform: translateY(1rem); }
    to {
      opacity: 1;
      transform: translateY(0); } }

  @keyframes subtitles {
    from {
      left: -50rem; }
    to {
      left: 0; } }

