/*MEDIA QUERIES MIXINS*/

@mixin screenMedium {
    @media screen and (min-width: 767px) and (max-width: 960px) {
      @content;
    }
  }
  
  @mixin screenLarge {
    @media screen and (min-width: 961px) and (max-width: 1023px) {
      @content;
    }
  } 

  @mixin screenXLarge {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
  
  /*FONTS PROPERTY MIXINS*/

  @mixin boldPara {
    font-size: 1rem;
    font-weight: 700;
    color: $color-bd-footer;
  }

  /***HOME PAGE MIXINS***/

  @mixin header-logo {
    font-family: $title-font, "cursive";
    margin: 0;
    text-align: center;
  }

  /***SECTION STEPS MIXINS***/
  @mixin steps-hover {
    cursor: pointer;
    background-color: $color-primary-lighten;
    box-shadow: $shadow-button-hover;
  }

  @mixin steps-lists {
    position: relative;
    background-color: $color-bd-light;
    margin: 1.5rem 0 1rem 0.75rem;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    counter-increment: number;
    list-style-type: none;
    transition-duration: 400ms;
  }

  @mixin steps-lists-before {
    counter-increment: compteListe 1;
    content: counter(compteListe) "";
    background: $color-primary;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    left: -12px;
    bottom: 21px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: $color-white;
  }

  /***BUTTON "Explorer nos restaurants" + "Commander" MIXINS***/
  @mixin button {
    align-self: center;
    width: fit-content;
    margin: 15px 0 38px 0;
    cursor: pointer;
    background-color: rgb(104, 104, 104);
    position: relative;
    z-index: 1;
    border: 0;
    padding: 1rem 3rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    transition-duration: 0.25s;
    box-shadow: $shadow-box;
  }

/*** MIXINS***/

  @mixin label-new {
    display: block;
    content: "Nouveau";
    color: #278870;
    position: absolute;
    top: 14px;
    right: 12px;
    border-radius: .125rem;
    background-color: #99E2D0;
    padding: 7px 12px;
    font-family: $content-font;
    font-size: .85em;
    box-shadow: 0 4px 9px -7px rgb(0, 0, 0, 0.7);

  }

  @mixin card-btn {
    height: 2rem;
    position: relative;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    display: flex;
    right:30px;
    bottom:0px;
  }

  @mixin card-heart {
    font-size: 28px;
    color:rgb(0, 0, 0, 0.6);
    font-weight: 300;
    transition-duration: .25s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  @mixin card-img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    box-shadow: none;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  /***MENU MIXINS***/

@mixin menu {
    padding: $all-padding 2rem 0 $all-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    margin-top: -35px;
    position: relative;
    background-color: $color-bd-light;
}

@mixin heart-first {
    font-size: 1.85rem;
    transform: scaleY(1.02);
    position: relative;
    z-index: 1;
    font-weight: 100!important;
    transition: 400ms;
    cursor: pointer;
    color: $color-bd-footer;
}

@mixin heart-second {
    font-size: 1.35rem;
    transform: scaleY(1.02);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    font-weight: 900!important;
    background: rgb(147,86,220);
    background: -webkit-linear-gradient(300deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1); 
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    opacity: 0;
    transition: 600ms;
}

@mixin submenu-title {
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 1.17rem;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

@mixin hero {
    align-items: center;
    overflow: hidden;
    position: relative;   
    img {
    max-width: 100%;
    height: 275px;
    width: 100%;
    object-fit: cover;
    filter: brightness(95%);
    @include screenXLarge {
      height: 500px;
    }
    }
  }